#test{
 
    margin-left: 2%;
    margin-bottom: -2%;
     }
   /* =========================== */
   /* hero image */
   /* ===========================  */
   #hero-image-book{
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     z-index: 0;
     color:rgb(255, 255, 255);
     background-color: rgb(51, 54, 56); 
     background-image: url("../assets/BookUs.jpg");
      height: 600px;
      font-size: 18px;
      background-position: right; 
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative; 
     }
     #hero-image-courses-text{
       /* border:1px solid red; */
       /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif ; */
     
       position: absolute;
       text-align: left;
       top:35%;
       left:70%;
       }
       #hero-image-courses-text p:nth-child(1){
         font-size:2.8rem
       }
     
       @media only screen and (min-width:650px) and (max-width:900px){
         #hero-image-courses-text p:nth-child(1){
           font-size:2.3rem
         }
         #test{
    
           margin-left: 0%;
           margin-bottom: -2%;
            }
         }
       @media only screen and (min-width:300px) and (max-width:650px){
         #hero-image-courses-text{
           /* border:1px solid red; */
           /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif ; */
           
           position: absolute;
           text-align: left;
           top:35%;
           left:10%;
           }  
         #hero-image-courses-text p:nth-child(1){
             font-size:2.3rem
           }
           #test{
    
               margin-left: 0%;
               margin-bottom: -2%;
                }
         
           }
  /* =========================== */
   /* hero-image-book */
   /* ===========================  */  
 
#contact-book{
  border: 1px solid rgba(255, 0, 0, 0);
  background-color: #000000;
  color: azure;
  width: 100%;
  font-size: 20px;
  margin: auto;
  text-align: center;
  font-weight: bolder;
}


@media only screen and (min-width:650px) and (max-width:850px){
#contact-book{
  font-size: 20px;
}

}
  @media only screen and (min-width:300px) and (max-width:520px){
  #contact-book{
          font-size: 12px;
    }
    
    
    }

 /* =========================== */
   /* icons-book */
   /* ===========================  */  
#icons-book{
  margin:auto;
  padding-top:3%;
  width:70%;
  display: grid;
  background-color: #000000;
  grid-template-columns: repeat(3,1fr);
  /* row-gap: -10%; */
  font-size: 15px;
}

#icons-book>img{
  /* width:30%; */
  margin:auto;
  /* border:1px solid red; */
}
@media only screen and (min-width:650px) and (max-width:850px){
#icons-book{
  font-size: 10px;

}

}
@media only screen and (min-width:300px) and (max-width:650px){
  #icons-book{
    margin:auto;
    padding-top:3%;
    width:100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* row-gap: -10%; */
    font-size: 8px;
  
  }
  
  }