/* =========================== */
/* hero image */
/* ===========================  */
#hero-image-contact{
    /* border:1px solid red; */
  display: grid;
  /* margin: auto; */

  grid-template-columns: repeat(2,1fr);
    color:rgb(255, 255, 255);
    /* height: 400px; */
    background-color: rgb(51, 54, 56);
     /* border: 1px solid red;*/
    background-image: url("../assets/conatct_hero.jpg");
   /* background-color: #000000; */
    height: 400px;
    font-size: 18px;
    background-position: 0px -200px; 
    background-attachment:fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
  }
  #hero-image-contact-text{
      margin-left: 14%;
      
 
  }
  #hero-image-contact-text p:nth-child(1){
    font-size:2.8rem
  }

  @media only screen and (min-width:650px) and (max-width:1024px){
    #hero-image-contact{
        /* border:1px solid red; */
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* row-gap: ; */
        height: 700px;
        background-position: 0px 0px; 
        /* text-align: center; */
       
      }
      #hero-image-contact-text{
        margin-left: 0%;
      }  
    #hero-image-contact-text>p{
        /* position: relative; */
        text-align: center;
        /* margin: auto; */
        /* position: absolute; */
        /* text-align: left; */
        /* top:10%; */
        /* left:10%; */
      }

   
    }
  @media only screen and (min-width:300px) and (max-width:650px){
    #hero-image-contact{
        /* border:1px solid red; */
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* row-gap: ; */
        height: 700px;
        background-position: 0px 0px; 
        /* text-align: center; */
       
      }
      #hero-image-contact-text{
        margin-left: 0%;
      }  
    #hero-image-contact-text>p{
        /* position: relative; */
        text-align: center;
        /* margin: auto; */
        /* position: absolute; */
        /* text-align: left; */
        /* top:10%; */
        /* left:10%; */
      }
    
      }
/* =========================== */
/* Form */
/* ===========================  */
.form-container {
    /* border: 1px solid red; */
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 30%; 
        margin: 3% 0% 0% 5%;
        /* margin: auto; */
        /* top:10%;
        left:60%; */
}
@media only screen and (min-width:650px) and (max-width:1024px){
    .form-container {
        font-size: 25px;
        width: 60%;
        margin: -22% 0% 0% 22%;

}

}
@media only screen and (min-width:400px) and (max-width:650px){
    .form-container {
        font-size: 25px;
        width: 80%;
        margin: -40% 0% 0% 10%;

}

}
@media only screen and (min-width:300px) and (max-width:400px){
    .form-container {
        font-size: 25px;
        width: 80%;
        margin: -70% 0% 0% 10%;

}

}
    
      /* Apply styles to the labels */
      label {
        /* margin-bottom: 5px; Add some spacing between labels and inputs */
        font-weight: bold;
      }
    
      /* Apply styles to the form inputs and textarea */
      input[type="text"],
      input[type="email"],
      textarea {
        background-color: #afafaf00;
        padding: 5px;
        color: azure;
        margin-bottom: 10px; /* Add some spacing between inputs */
        border: 2px solid #5e5e5e;
        border-radius: 4px;
      }
    
      /* Apply styles to the submit button */
      input[type="submit"] {
        padding: 10px 20px;
        background-color: #505050;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
      }
    
      /* Optional: Add some spacing around the submit button */
      input[type="submit"] {
        font-family: "Poppins", sans-serif;
        margin-top: 10px;
      }


#contact{
    border: 1px solid rgba(255, 0, 0, 0);
    background-color: #000000;
    color: azure;
    width: 100%;
    font-size: 20px;
    margin: auto;
    text-align: center;
    font-weight: bolder;
}

 
  @media only screen and (min-width:650px) and (max-width:850px){
  #contact{
    font-size: 20px;
  }
  
  }
    @media only screen and (min-width:300px) and (max-width:520px){
        #contact{
            font-size: 12px;
          }
      
        #icons-contact{
        font-size: 10px;
      
      }
      
      }

/* icons-contact */
      #icons-contact{
        margin:auto;
        padding-top:3%;
        width:70%;
        display: grid;
        background-color: #000000;
        grid-template-columns: repeat(5,1fr);
        /* row-gap: -10%; */
        font-size: 15px;
      }
      
      #icons-contact>img{
        /* width:30%; */
        margin:auto;
        /* border:1px solid red; */
      }
      @media only screen and (min-width:650px) and (max-width:850px){
      #icons-contact{
        font-size: 10px;
      
      }
      
      }
      @media only screen and (min-width:300px) and (max-width:650px){
        #icons-contact{
          margin:auto;
          padding-top:3%;
          width:100%;
          display: grid;
          grid-template-columns: repeat(5,1fr);
          /* row-gap: -10%; */
          font-size: 8px;
        
        }
        
        }