/* ===========================
/* Navbar */
/* ===========================  */
#nav-menu{
 
    /* border-bottom: 3px solid rgb(100, 100, 100); */
    z-index: 99;
    height: 80px;
  
  }
  #nav-menu p{
    color: rgb(200, 200, 200);
    transition: all 0.2s ease-in 0s;
  }
  #nav-menu p:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .custom-link {
    color: rgb(200, 200, 200);
    text-decoration: none;
    transition: all 0.2s ease-in 0s;
  }
  
  .custom-link:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  #nav-menu{
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: -3%;
    box-shadow: rgb(255, 255, 255) 0px 7px 29px 0px;
    width:100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: -0.5px;
    transition: all 1s ease-in 0s;
    
    background-color: rgb(0, 0, 0);
    color: azure;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    /* border-radius: 10%; */
  }
  
  #nav-menu>div:nth-child(2)>p{
    font-size: 20px;
    font-weight: 600;
    margin: auto;
    color: azure;
  }
  #nav-menu>div:nth-child(2){
    display: flex;
    margin-right: 10%;
    width: 40%;
    color: black;
  }
  #nav-menu>div:nth-child(1){
    margin-left: 8%;
  }
  #nav-menu>div>h1{
    color: rgb(200, 200, 200);
    font-size: 2rem;
    margin-left: 65%;
    margin-top: 11%;

    transition: all 0.5s ease-in 0s;
  }
  #nav-menu>div>h1:hover{
    /* font-size: 2.05rem; */
    color: rgb(255, 255, 255);
    cursor: pointer;
  } 
